h1 { // headers-banners
  align-self: center;
  color: $white;
  font-family: "Sulphur Point", sans-serif; // typography
  font-size: 50px; // typography
  margin: 0%; // mixins
  padding: 0.5% 0.7% 0%; // mixins
  width: 70%;
  cursor: $point; // mixins
}
