h1 {
  align-self: center;
  color: $white;
  font-family: "Sulphur Point", sans-serif; // typography
  font-size: 50px; // typography
  margin: 0%; // mixins
  padding: 0.5% 0.7% 0%; // mixins
  width: 70%;
  cursor: $point; // mixins
}

h2 {
  color: $med-apple-green;
  margin: 10px 0px 10px 0px; // mixins
}

h3 {
  color: $dark-apple-green;
  cursor: $point;
  height: 17%; // mixins
  margin: 5px 5px 10px 0px; // mixins
  transition: .8s ease; // transitions
}

h4 {
  color: $dark-apple-green;
  background-color: $light-apple-green;
  border-radius: 3px; // mixins
  margin: 10px 0px 0px 0px; // mixins
  padding: 1px 4px 1px 4px; // mixins
  width: max-content; // mixins
}

header { // headers-banners
  grid-area: header; // grids
  display: flex; // flex
  flex-direction: row; // flex
  padding: 0% 0%; // mixins
  width: 100%; // mixins
}
