h1 {
  align-self: center;
  color: $white;
  font-family: "Sulphur Point", sans-serif; // typography
  font-size: 50px; // typography
  margin: 0%; // mixins
  padding: 0.5% 0.7% 0%; // mixins
  width: 70%;
  cursor: $point; // mixins
}

h2 {
  color: $med-apple-green;
  margin: 10px 0px 10px 0px; // mixins
}

h3 {
  color: $dark-apple-green;
  cursor: $point;
  height: 17%; // mixins
  margin: 5px 5px 10px 0px; // mixins
  transition: .8s ease; // transitions
}

h4 {
  color: $dark-apple-green;
  background-color: $light-apple-green;
  border-radius: 3px; // mixins
  margin: 10px 0px 0px 0px; // mixins
  padding: 1px 4px 1px 4px; // mixins
  width: max-content; // mixins
}

header {
  grid-area: header; // grids
  display: flex; // flex
  flex-direction: row; // flex
  padding: 0% 0%; // mixins
  width: 100%; // mixins
}

span {
  color: $light-apple-green;
  font-weight: 400; // typography
}

/* BANNER IMAGE*/
.banner-image {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url("../images/green-apples.jpg"); // variables? mixins?
  grid-area: image; // grids
  height: 150px; // mixins
  overflow: hidden; // mixins
  width: 100%; // mixins
}

.my-recipes-banner,
.welcome-msg {
  text-align: center;
  width: 95%; // mixins
}

.my-recipes-banner h1,
.welcome-msg h1 {
  color: $white;
  width: 100%; // mixins
}

.my-recipes-banner {
  display: none;
  margin-top: 25px; // mixins
}

.welcome-msg {
  margin-top: 50px; // mixins
}
