/* 📱 Mobile  */
@media screen and (min-width: $mobile) and (max-width: $tablet - 1) {

  .body {
    display: flex;
    flex-direction: column;
  }

  .header {
    flex-flow: column;
    align-items: center;

    h1 {
      display: flex;
      flex-direction: row;
      align-self: center;
      font-size: 40px;
      margin: .3em;
    }

    .search-form {
      width: 75%;
      margin: 1%;
      align-self: center;
    }
  }
}
