/* 📱 Mobile  */
@media screen and (min-width: $mobile) and (max-width: $tablet - 1) {
  *{
    border: 1px solid fuchsia;
  }

  .header {
    flex-flow: column;
    flex-direction: column;

    h1 {
      align-self: center;
      font-size: 65px;
    }
  }
}

/*  */


/*  */


/*  */


/*  */
