/* 🎨 Color Palette */

/* Dark Slate Grey */
/* used on the body, .search-input, .search-input::placeholder, #overlay */
$dark-grey: #3e5265;

/* Light Slate Grey */
/* .drop-menu */
$light-grey: #dae4ee;

/* White */
/* h1, #recipe-title, aside, .wrap, .recipe-card, .recipe-instructions, #exit-recipe-btn, .text, .show-pantry-recipes-btn, .show-all-btn, .filter-btn, .recipe-instructions h4 */
$white: #ffffff;


/* Medium Apple Green */
/* h2, .filter-btn:hover */
$med-apple-green: #84c8a4;

/* Dark Apple Green */
/* h3, h4, .text, .show-pantry-recipes-btn, .show-all-btn, .filter-btn, .drop-menu h2, .recipe-instructions h4 */
$dark-apple-green: #359567;

/* Light Apple Green  */
/* h4, span, .nav-btn:hover, #exit-recipe-btn:hover */
$light-apple-green: #c4eb67;

/* Mint Green  */
/* .search-input */
$mint-green: #b6dcca;

// .pantry-list
// color: #000000;




/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */

// #5B7894; // original shade of gray; going to move this color down a couple shades to increase contrast - new shade hex ##3e5265
