/* 🎨 Color Palette */

/* Dark Slate Grey */
/* used on the body, .search-input, .search-input::placeholder, #overlay */
$dark-grey: #3e5265;

/* White */
/* h1, #recipe-title, aside, .wrap, .recipe-card, .recipe-instructions, #exit-recipe-btn, .text, .show-pantry-recipes-btn, .show-all-btn, .filter-btn, .recipe-instructions h4 */
$white: #ffffff;


/* Light Apple Green */
/* h2, .filter-btn:hover */
$light-apple-green: #84C8A4;

/* Dark Apple Green */
/* h3, h4, .text, .show-pantry-recipes-btn, .show-all-btn, .filter-btn, .drop-menu h2, .recipe-instructions h4 */
$dark-apple-green: #359567;


// h4
// background-color: #C4EB67;

// span
// color: #C4EB67;

// .search-input
// background-color: #b6dcca;


// .nav-btn:hover
// color: #C4EB67;





// .drop-menu
// background-color: #DAE4EE;

// .pantry-list
// color: #000000;

// #exit-recipe-btn:hover
// background: #C4EB67;



/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */


/*  */
/*  */

// #5B7894; // original shade of gray; going to move this color down a couple shades to increase contrast - new shade hex ##3e5265
